@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  font-size: 14px;

  /* Colors */
  --clr-primary-light: hsl(133, 79%, 48%);
  --clr-primary: hsl(128, 60%, 39%);
  --clr-primary-dark: hsl(103, 81%, 28%);

  --clr-accent: #0b57d0;

  --clr-black-900: #000029;
  --clr-black-500: #4F5251;

  --clr-white-000: #F9FBFD;
  --clr-white-100: #ececec;
  --clr-white-200: #c7c7c7;






  /* Typography */

  /* https://www.fluid-type-scale.com/calculate */

  --fs-min: clamp(0.8rem, 0.14vi + 0.77rem, 0.89rem);
  --fs-body: clamp(1rem, 0.19vi + 0.96rem, 1.13rem);
  --fs-h5: clamp(1.25rem, 0.25vi + 1.19rem, 1.42rem);
  --fs-h4: clamp(1.56rem, 0.33vi + 1.49rem, 1.79rem);
  --fs-h3: clamp(1.95rem, 0.44vi + 1.85rem, 2.25rem);
  --fs-h2: clamp(2.44rem, 0.58vi + 2.31rem, 2.84rem);
  --fs-h1: clamp(3.05rem, 0.9vi + 2.88rem, 4.57rem);

  --ff: 'Noto Sans', system-ui, sans-serif;


}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

::selection{
  background-color: var(--clr-accent);
  color: var(--clr-black-900);
}


html:focus-within {
  scroll-behavior: smooth;
}

svg.none{
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
}


img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg.icon{
  width: 20px;

  &.stroke{
    stroke: currentColor;
  }

  &.fill{
    fill: currentColor;
  }
}


.stack{
  display: grid;
  grid-template-areas: "stack";
  place-items: center;

  > * {
    grid-area: stack;

  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: var(--ff);
  background-color: var(--clr-white-000);
  color: var(--clr-black-900);
  min-height: 100vh;

  --cell-height : 25px;
  --cell-width : 150px;

  display: grid;

  overflow: scroll;

}

header{
  display: grid;

  grid-template-columns: [icon-start utility-start] 40px [icon-end content-start] auto [content-end utility-end];
  grid-template-rows: repeat(2, auto);

  align-items: start;
  justify-items: start;

  gap: 12px;
  padding: 12px;
  background-color: var(--clr-white-000);
  color: var(--clr-black-900);
  width: max(100vw - 12px / 2, 600px);
  height: 128px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;

  .principal-icon{

    fill: var(--clr-primary);
    width: 40px;
    grid-column: icon;
    grid-row: 1;
    align-self: center;
  
  }

  .content{
    grid-column: content;
    grid-row: 1;
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-rows: repeat(2,auto);

    .upper,.lower{
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .upper{
      p[contenteditable]{
        grid-row: 1;
        box-sizing: content-box;
        padding: 4px;
        padding-right: 8px;
        font-size: 18px;
        border-radius: 4px;
        color: var(--clr-black-500);
  
        &:focus{
          outline: 1px solid var(--clr-white-200);
        }
      }
  
      .out-links{
        display: flex;
        color: var(--clr-black-500);
        gap: 12px;
      }
    }

    .lower{
      padding-left: 4px;
    }

  }

  .utility{
    grid-column: utility;
    grid-row: 2;

    width: 100%;

    background-color: var(--clr-white-100);
    border-radius: 10px;
    padding: 6px;

    display: grid;
    grid-template-columns: 75px 1fr;
    gap: 8px;

    input{
      width: 100%;
      border: none;
      border-radius: 4px;
      padding-block: 4px;
      padding-inline: 8px;
      border: 1px solid var(--clr-white-200);

      &:focus, &:focus-within{
        border-color: var(--clr-accent);
        outline: none;
      }
    }

    input.selected-cell{
      text-align: center;
    }

    div:has(.cell-value) {

    .line{
      justify-self: start;
      margin-left: calc(10px + 10px + 15px);
      color: var(--clr-white-200);
      }

    button{
      justify-self: start;
      background: none;
      border: none;
      padding-inline: 10px;
      height: 100%;
      cursor: pointer;
      border-radius: 4px;

      &:hover, &:focus-visible{
        background-color: #0012;
      }
        
      svg{
        color: var(--clr-black-500);
      }
    }

    input.cell-value{
      padding-left: 50px;
    }



    }
  }
}

main{

  display: grid;

  grid-template-columns: [row-count-start] var(--cell-height) [row-count-end table-start] auto [table-end];
  grid-template-rows: 
  [column-count-start] var(--cell-height) [column-count-end table-start] auto [table-end];

  &::before{
    content: '';
    grid-row: column-count;
    grid-column: row-count;
    background-color: var(--clr-white-100);
    border: 4px solid var(--clr-white-200);
    border-top: none;
    border-left: none;
  }

}

.cell-group{
  grid-area : table;

  display: grid;
  grid-template-columns: repeat(var(--columns), var(--cell-width));
  grid-template-rows: repeat(var(--rows), var(--cell-height));

  > .cell{

    > *{
      max-height: var(--cell-height);
      padding-inline: 8px;
      padding-block: 3px;
      width: var(--cell-width);
      height: var(--cell-height);
      overflow: hidden;
      line-break: anywhere;
    }
  
    input{
      opacity: 0;
      border: none;
      pointer-events: none;
  
      &:focus,&.focus-force{
        opacity: 1;
        outline: 2px solid var(--clr-accent);
        background-color: var(--clr-white-000);
        z-index: 2;
      }
    }
  
    div{
      max-height: var(--cell-height);
      border: 1px solid var(--clr-white-100);
      
      text-align: end;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;

      position: relative;
       
      &.error{
        text-align: center;
        font-style: italic;

        &::after{
          content: '';
          background-color: red;
          width: var(--cell-height);
          aspect-ratio: 1;
          position: absolute;
          right: calc(var(--cell-height) * -1 / 2);
          bottom: calc(var(--cell-height) * -1 / 2);
          rotate: 45deg;
          z-index: 1;
        }

        &::before{
          background-color: var(--clr-white-200);

          content: 'Error: 'attr(title);
          position: fixed;
          bottom: 0;
          left: var(--cell-height);
          border-top: 5px solid var(--clr-white-100);
          border-right: 5px solid var(--clr-white-100);

          padding: 10px;

          pointer-events: none;
          z-index: 2;
          visibility: hidden;
        }

        &:hover::before{
          visibility: visible;
        }
      }

      &.focus{
        background-color: var(--clr-white-100);
        z-index: 2;
      }
    }

    &.writing-function{
      input{
        outline: 2px dashed var(--clr-accent);
        
      }
    }

    &:has(div.selected) .selected{

        background-color: #fff16e;
        background-size: 5px 5px;
        background-image: repeating-linear-gradient(45deg, #f3eca8 0, #f3eca8 1px, #fff16e 0, #fff16e 50%);   
        border-color: #ffe135;   
    }
  
  }
}


.column-count{
  height: var(--cell-height);
  grid-column: table;
  grid-row: column-count;
  display: flex;
  position: sticky;
  top: 128px;
  z-index: 3;
  
  > .column{
    background-color: var(--clr-white-000);
    width: var(--cell-width);
    border: 1px solid var(--clr-white-200);

    text-transform: uppercase;
    text-align: center;
    display: grid;
    place-items: center;
    z-index: 1;

    user-select: none;
  }
  
}

.row-count{
  grid-row: table;
  grid-column: row-count;
  position: sticky;
  left: 0;


  > .row{
    background-color: var(--clr-white-000);
    height: var(--cell-height);
    border: 1px solid var(--clr-white-200);
    text-align: center;
    display: grid;
    place-items: center;
    z-index: 1;


    user-select: none;

  }
}

:is(.row,.column).selected{
  background-color: var(--clr-white-200);
}

